<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.infection.mapper.SimulationTaskMapper">
    <select id="getMaxResultId" resultType="Integer">
        SELECT MAX(${resultColumn})
        FROM ${resultTable}
        WHERE user_id = #{userId}
    </select>

    <!-- 插入新的模拟记录 -->
    <insert id="insertSimulationResult">
        INSERT INTO ${resultTable}
        (
        <choose>
            <when test="resultTable == 'infection_unlock_simulation_result'">
                user_id, unlock_result_id, filepath, city_name, state
            </when>
            <when test="resultTable == 'infection_lock_simulation_result'">
                user_id, lock_result_id, filepath, city_name, state
            </when>
            <when test="resultTable == 'maddpg_simulation_result'">
                user_id, maddpg_result_id, filepath, city_name, state
            </when>
        </choose>
        )
        VALUES
        (
        #{userId}, #{resultId}, #{filepath}, #{cityName}, #{state}
        )
    </insert>

    <!-- 动态更新任务状态 -->
    <update id="updateTaskStatus">
        UPDATE ${resultTable}
        SET state = #{state}
        WHERE filepath = #{filepath} AND ${resultColumn}_id = #{resultId}
    </update>

    <!-- 查询 `maddpg_simulation_result` 表中最大的 ID -->
    <select id="getMaxMADDPGRecordId" resultType="Integer">
        SELECT MAX(maddpg_result_id)
        FROM maddpg_simulation_result
        WHERE user_id = #{userId}
    </select>

    <!-- 插入一条新记录到 `maddpg_simulation_result` -->
    <insert id="insertMADDPGSimulationRecord">
        INSERT INTO maddpg_simulation_result (user_id, maddpg_result_id, maddpg_start_time, maddpg_end_time, state, city_name, simulation_end_time, simulation_start_time)
        VALUES (#{userId}, #{id}, #{startTime}, #{endTime}, #{state}, #{city}, #{simulationEndTime}, #{simulationStartTime})
    </insert>

    <!-- 查询 `MADDPG_policy_record` 表中最大的 ID -->
    <select id="getMaxPolicyRecordId" resultType="Integer">
        SELECT MAX(policy_id)
        FROM maddpg_policy_record
        WHERE user_id = #{userId}
    </select>

    <!-- 插入一条新记录到 `MADDPG_policy_record` -->
    <insert id="insertPolicyRecord">
        INSERT INTO maddpg_policy_record (policy_id, filepath, user_id, unlock_result_id)
        VALUES (#{id}, #{filepath}, #{userId}, #{simulationId})
    </insert>

</mapper>