<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.infection.mapper.SimulationTaskMapper">
    <!-- 获取表中当前最大 ID -->
    <select id="getMaxId" resultType="java.lang.Integer">
        SELECT MAX(CASE
        WHEN #{tableName} = 'infection_unlock_simulation_result' THEN unlock_result_id
        WHEN #{tableName} = 'infection_lock_simulation_result' THEN lock_result_id
        WHEN #{tableName} = 'maddpg_simulation_result' THEN maddpg_result_id
        END)
        FROM ${tableName}
    </select>

    <!-- 插入新的模拟记录 -->
    <insert id="insertSimulationRecord">
        INSERT INTO ${tableName}
        (
        <choose>
            <when test="tableName == 'infection_unlock_simulation_result'">
                unlock_result_id, filepath, city, state
            </when>
            <when test="tableName == 'infection_lock_simulation_result'">
                lock_result_id, filepath, city, state
            </when>
            <when test="tableName == 'maddpg_simulation_result'">
                maddpg_result_id, filepath, city, state
            </when>
        </choose>
        )
        VALUES
        (
        #{id}, #{dirName}, #{cityName}, #{state}
        )
    </insert>

    <!-- 动态更新任务状态 -->
    <update id="updateTaskStatus">
        UPDATE ${tableName}
        SET state = #{state}
        WHERE filepath = #{dirName}
    </update>
</mapper>