<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.infection.mapper.UnlockInfectionMapper">
    <!-- Result Map for UnlockSimulation -->
    <resultMap type="UnlockSimulation" id="UnlockSimulationResult" >
        <result property="filepath" column="filepath"/>
        <result property="state" column="state"/>
    </resultMap>

    <select id="getSimulationRecords" parameterType="String" resultType="SimulationRecord">
        SELECT filepath, state
        FROM simulation_record
        WHERE city = #{city}
    </select>

</mapper>